# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=xxxxxxxxx.us-east-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=ZZZZZZZZZZZZZZZZ
sasl.password=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

